{%extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% endblock %}
    <div class="wrapper">
        <div class="test">


            <div class="container">
                <p class="text-center">Hitch A Ride</p>
                <div class="row signup">

                    <div class="col-6">
                        <a href="{% url 'drive' %}"><button class="btn btn-outline-info homebtn1">Driver</button></a>
                    </div>
                    <div class="col-6">
                        <a class="" href="{% url 'ride' %}"><button class="btn btn-outline-info homebtn">Rider</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}