.contain{
    margin: auto;
    width: 22%;
    border: 3px solid dodgerblue;
    padding: 10px;
}
.in{
    text-align: center;
}
.down{
    margin-left: 30%;
    padding-right: 15%;
}
.sign{
    text-align: center;
 }